<!DOCTYPE html>
<html>
<head data-th-replace="~{/layouts/head :: head}">

</head>
<body>

	<header data-th-replace="~{/layouts/header :: header}"></header>
	
	
	
	
	<!-- footer-->

	<footer th:fragment="footer" class="footer mt-auto">
		<div class="container">
			<div class="row">
				<!-- Información de contacto -->
				<div class="col-md-4">
					<h5>Contacto</h5>
					<p>Dirección: Ítalo Palanca N°10</p>
					<p>San Salvador de Jujuy - Jujuy - Argentina</p>
					<p>Teléfono: 0388 422-1580</p>
					<p>
						Correo electrónico: <a href="mailto:info@fi.unju.edu.ar">info@fi.unju.edu.ar</a>
					</p>
				</div>
				<!-- Enlaces a redes sociales -->
				<div class="col-md-4">
					<h5>Redes Sociales</h5>
					<div class="social-icons">
						<a href="https://www.facebook.com/fiunju/" aria-label="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" aria-label="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
						<a href="https://www.instagram.com/fiunju/" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju/" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
				<!-- Derechos de autor -->
				<div class="col-md-4 text-md-right">
					<h5>Derechos de Autor</h5>
					<p>&copy; 2024 Facultad de Ciencias. Todos los derechos
						reservados.</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- fin footer -->

	
</body>
</html>