<!DOCTYPE html>
<html>
<head data-th-replace="~{/layouts/head :: head}">

</head>
<body>

	<header data-th-replace="~{/layouts/header :: header}"></header>





	<footer data-th-replace="~{/layouts/footer :: footer}">
	
	
	</footer>
	<script src="https://kit.fontawesome.com/7c3ba39139.js"
		crossorigin="anonymous"></script>

	<!-- dejo comentado el javascript que no funciona -->
	<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script> -->
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>