<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${titulo}"></title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!--  estilos propios -->	

	<link rel="stylesheet" data-th-href="@{/css/estilos.css}">
</head>
<body>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <a href="/materia/nuevo" class="btn btn-primary mb-3">Nueva Materia</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Curso</th>
                    <th>Cant. Horas</th>
                    <th>Modalidad</th>
                    <th>Docente</th>
                    <th>Carrera</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="materia : ${materias}">
                    <td th:text="${materia.codigo}"></td>
                    <td th:text="${materia.nombre}"></td>
                    <td th:text="${materia.curso}"></td>
                    <td th:text="${materia.cantHoras}"></td>
                    <td th:text="${materia.modalidad}"></td>
                    <td th:text="${materia.docente.nombre}"></td>
                    <td th:text="${materia.carrera.nombre}"></td>
                    <td>
                        <a th:href="@{/materia/modificar/{codigo}(codigo=${materia.codigo})}" class="btn btn-warning">Modificar</a>
                        <a th:href="@{/materia/eliminar/{codigo}(codigo=${materia.codigo})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>